<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">Nalonal Book</h1>

        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print"  style="text-align: center;">
          <center>
            <!-- Your title is also defined in the _config.yml file -->
            <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>
          </center>
          

        </div>

        <div class="executive-summary" itemprop="description" style="text-align: justify;">
          Greetings! My name is <a href="https://www.linkedin.com/in/rizqy-rionaldy/" style="text-decoration: none; color:black">Rizqy Rionaldy</a>, also known as <strong>Nalonal</strong>. 
          I'm from Indonesia and working As a Cyber Security, Programmer, and Data Engineer. I spend my days developing automated threat detection and combine with big data engineering.
          While I have a passion for teaching and sharing my knowledge with others, at this time, I am always open to connecting with like-minded individuals and organizations to collaborate on exciting projects and explore new opportunities in the world of Cyber Security, Data Engineer and Programmer (Laravel, Golang, and Python).
          If you're looking for a driven, innovative, and knowledgeable professional to work with, feel free to reach out and connect with me. Let's explore the possibilities together!<br>
          <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email" style="display: inline-block;">My Write Up</a>
          <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email" style="display: inline-block;">Linkedin</a>
          <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email" style="display: inline-block;">Github</a>
        </div>

        

      </header>
      <!--
      {% if site.resume_section_projects %}
      
      <section class="content-section">
        <header class="section-header">
          <h2>Projects</h2>
        </header>

        {% for project in site.data.projects %}
        <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="creator" content="{{ site.resume_name }}" itemtype="http://schema.org/Person" />
          <h3 class="resume-item-title" itemprop="name">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{ project.project }}</a>{% else %}{{ project.project }}{% endif %}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4>
          <p class="resume-item-copy">{{ project.description }}</p>
        </div>
        {% endfor %}

      </section>
      
      {% endif %}
      -->

    </div>

  </body>

</html>
